.footer__links {
  max-width: 1184px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  column-gap: 18px;
}

@media screen and (max-width:720px) {
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 32px;
    margin-bottom: 48px;
  }
}