.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.place__link:hover {
  opacity: .8;
  transition: .3 ease;
  -webkit-transition: .3 ease;
  -moz-transitiАon: .3 ease;
  -ms-transition: .3 ease;
  -o-transition: .3 ease;
}