.place__website {
  align-self: end;
  margin-bottom: 48px;
}



@media screen and (max-width: 650px) {
  .place__website {
    grid-column: 1;
    margin-left: 16px;
    margin-bottom: 32px;
  }
}